<div class="mb-3 form-floating">
    <input type="text" 
    [class.is-invalid]="control.touched   && control.invalid"
    class="form-control"
    [type]="type()"
    [formControl]= "control"
    placeholder="{{label()}}"/>

    <label>{{label()}}</label>
    <div *ngIf="control?.hasError('required')" 
    class="invalid-feedback text-start">Please enter the {{label()}}.</div>
    <div *ngIf="control.hasError('minlength')"
     class="invalid-feedback text-start">{{label()}} 
     must at least {{control.errors?.['minlength'].requiredLength}} characters.</div>
    <div *ngIf="control.hasError('maxlength')" 
    class="invalid-feedback text-start">{{label()}} 
    must at most {{control.errors?.['maxlength'].requiredLength}} characters.</div>
    <div *ngIf="control.hasError('isMatching')" 
    class="invalid-feedback text-start">{{label()}} 
    Password does not match.</div>
</div>